{% extends "layout.html" %}

{% block body %}
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-sm-12" >
                <br /><br />
                <label> <strong> Search </strong> </label>
                <form autocomplete="off" onkeypress="handleEnterKey(event)">
                    <input type="text" name="query" id="query_input" class="form-control" placeholder="Search for problems" />
                </form>
            </div>
        </div>
    </div>

    <div class="container">
            <br>
            <div style="display: inline-flex;">

                <div style="display:flex; margin-left:30px;">
                    <div style="margin-right: 10px;">Questions</div>
                    <div>
                        <select id = "Questions" onchange="Questions_report(this.value)" style="width: 100%;" >
                            <option value="All_question">All Questions</option>
                            <option value="Assignment_question">Assignment Questions</option>
                            <option value="Homework_question">Homework Questions</option>                        
                        </select>
                    </div>
                </div>
    
                <div style="display: flex; margin-left: 10px;">
                    <div style="margin-right: 10px;">Tags</div>
                    <div>
                        <select id = "Tags" onchange="Tags_report(this.value)" style="width: 100%;" >
                            <option value="All_tags">All Tags</option>
                              <option value="Time_complexity">Time Complexity</option>
                              <option value="Arrays">Arrays</option>
                              <option value="Math">Math</option>
                              <option value="Binary_search">Binary Search</option>
                              <option value="Strings">Strings</option>
                              <option value="Bit_manipulation">Bit Manipulation</option>
                              <option value="Two_pointers">Two Pointers</option>
                              <option value="Linked_list">Linked List</option>
                              <option value="Stacks">Stacks</option>
                              <option value="Queues">Queues</option>
                              <option value="Backtracking">Backtracking</option>
                              <option value="Hashing">Hashing</option>
                              <option value="Heaps_and_maps">Heaps And Maps</option>
                              <option value="Tree">Tree</option>
                              <option value="Dynamic_programming">Dynamic Programming</option>
                              <option value="Greedy">Greedy</option>
                              <option value="Graph">Graph</option>
                        </select>
                    </div>
                </div>
    
                <div style="display: flex;margin-left:10px;">
                    <div style="margin-right: 10px;">Topic</div>
                    <div>
                        <select id="Topic" onchange="Topic_report(this.value)" style="width: 100%;">
                        <option value="All_topic">All Topic</option>
                        {% set list_topic = ["Array and Math","Basic Math","Basic Math Part II","How to hack your interview","Searching Algorithms","Searching II","Backtracking","Sorting algorithms","Sorting II"] %}
                        {% for topic in list_topic %}
                            <option value="{{topic}}">{{topic}}</option>
                        {%endfor%}
                        </select>
                    </div>
                </div>
                
    
                <div style="display: flex;margin-left:10px;">
                    <div style="margin-right: 10px;">Week</div>
                    <div>
                      <select id ="Week" onchange="Week_report(this.value)" style="width: 100%;">
                        <option value="All_week">All Week</option>
                        {% set no_of_week = 17 %}
                        {% for week_no in range(1,no_of_week+1) %}
                            <option value="Week_{{week_no}}">Week {{week_no}}</option>
                        {%endfor%}
                      </select>
                    </div>
                </div>
    
                <div style="display: flex;margin-left:10px;">
                    <div style="margin-right: 10px;">Day</div>
                    <div>
                        <select id = "Day" onchange="Day_report(this.value)" style="width: 100%;">
                            <option value="All_day">All Day</option>
                            {% set no_of_day = 97 %}
                            {% for day in range(1,no_of_day+1) %}
                                <option value="Day_{{day}}">Day {{day}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
    
                <div style="display: flex;margin-left:10px;">
                    <div style="margin-right: 10px;">Status</div>
                    <div>
                        <select id="Status" style="width: 100%;" onchange="Status_report(this.value)" >
                        <option value="All_status">All Status</option>
                        <option value="Solved">Solved</option>
                        <option value="Attempted">Attempted</option>
                        </select>
                    </div>
                </div>
    
            </div>
        </div>

    <div class="container">
        <br><br>
        <div id="search_result" class="panel-group">
            <div class="panel panel-default" style="margin-top: 0; border-radius: 0">
                <div class="panel-body" style="padding: 10px 15px;">
                    <div>
                        <a style="text-decoration:none" href="#">No result Found </a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
{% endblock body %}

{% block script %} 
    <script>
        $(document).ready(function(){
            var typingTimer;                //timer identifier
            var doneTypingInterval = 500;  //time in ms (0.50 seconds)
            
            $('#query_input').keyup(function(){
                clearTimeout(typingTimer)
                // if($('#query_input').val())    Not checking empty as if empty we have to display no results
                typingTimer = setTimeout(doneTyping, doneTypingInterval)
                console.log($( "#Questions option:selected" ).text())
            });
            function doneTyping()
            {
                var query_val = $('#query_input').val();
                req = $.ajax({
                    url: '/find',
                    type: 'POST',
                    data: {query:query_val},
                });

                req.done(function(data){
                    // $('#search_result').fadeOut().fadeIn();
                    $('#search_result').html(data);
                });
            }
        });

        function handleEnterKey(e){ 
            if(e.keyCode == 13){ // Enter pressed handeling to redirect
                e.preventDefault ? e.preventDefault() : (e.returnValue = false);}}

        function Questions_report(filter) {
                console.log(filter)
                req = $.ajax({
                    url: '/filter',
                    type: 'POST',
                    data: {question:filter},
                });
                // req.done(function(data){
                //     $('#search_result').html(data);
                // });
            }
        function Tags_report(filter) {
            console.log(filter)
        }
        function Topic_report(filter) {
            console.log(filter)
        }
        function Week_report(filter) {
            console.log(filter)
        }
        function Day_report(filter) {
            console.log(filter)
        }
        function Status_report(filter) {
            console.log(filter)
        }
    </script>

{% endblock script%}