<div class="panel-group">
    
    {%for i in fetch_list%}   

    <div class="panel panel-default" style="margin-top: 0; border-radius: 0">
        <div class="panel-body" style="padding: 10px 15px;">
            <div>
                <a style="text-decoration:none" href="#"> {{i[0]}} </a>
                <span class="label label-success">Dummy Company</span>
                <span class="glyphicon glyphicon-success glyphicon-ok pull-right" style= "color :green;line-height: inherit"></span>
            </div>
        </div>
    </div>
    {%endfor%}
</div>